
.logo {
  height: 150px;
}

.logo:hover {
  animation: App-logo-spin infinite 1s linear;
}


.subtitle {
  font-size: x-large;
  color: coral;
}

/* .featuredHouse {
  border-radius: 2px;
  background-color: rgb(255, 190, 166); */

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 5s linear;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


